<md-chips ng-model="vm.topicItems"
          md-autocomplete-snap
          md-transform-chip="vm.transformChip($chip)"
          md-require-match="vm.autocompleteRequireMatch"
          md-on-add="vm.onAdd($chip)">
  <md-autocomplete
      md-selected-item="vm.topicSelectedItem"
      md-search-text="vm.topicSearchText"
      md-items="item in vm.querySearchTopic(vm.topicSearchText)"
      md-item-text="item.name"
      placeholder="Search for topics">
    <span md-highlight-text="vm.topicSearchText">{{item.name}} ({{item.key}})</span>
  </md-autocomplete>
  <md-chip-template>
    <span>
        <strong>{{$chip.name}}</strong>
        <em>({{$chip.key}})</em>
    </span>
  </md-chip-template>
</md-chips>
