<div class="md-toolbar-tools">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <span></span>

            <span flex></span>

            <md-button ng-click="">
                Our Mission
            </md-button>
            <md-button ng-click="">
                How It Works
            </md-button>
            <md-button ng-click="">
                Blog
            </md-button>
            <md-button ng-click="">
                Contact
            </md-button>

            <span flex></span>

            <md-button href="#/login">
                <md-icon md-font-icon="zmdi zmdi-lock"></md-icon>
                <span translate="Login">Login</span>
            </md-button>
            <md-button href="#/signup">
                <!--<md-icon md-font-icon="zmdi zmdi-sign-in"></md-icon>-->
                <span translate="Register">Sign Up</span>
            </md-button>
        </div>
    </md-toolbar>
</div>
