<div class="dashboard-container" layout="column">
    <tri-widget flex content-padding>
        <md-toolbar md-theme="{{triSkin.elements.content}}">
            <h2 class="md-toolbar-tools" translate>New Math Template</h2>
        </md-toolbar>

        <md-list flex>
            <md-list-item class="md-3-line" ng-repeat="topic in vm.topicLists | filter:query | orderBy: orderList"
                          ng-click="null">
                <div class="md-list-item-text" layout="column">
                    <h3>Name: {{topic.name}}</h3>
                    <h4>Key: {{topic.key}}</h4>
                    <md-divider ng-hide="$last"></md-divider>
                </div>
            </md-list-item>
        </md-list>
    </tri-widget>
</div>
