<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <div layout="row" layout-xs="column" layout-margin="">

        <tri-widget content-padding>
            <md-toolbar md-theme="{{triSkin.elements.content}}">
                <h2 class="md-toolbar-tools" translate>New Math Template</h2>
            </md-toolbar>

            <div>
                <md-input-container class="md-block">
                    <label>Problem Name</label>
                    <input type='text' ng-model="vm.problem.name">
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Domain</label>
                    <input ng-model="vm.problem.domain" readonly>
                </md-input-container>

            </div>

            <div>
                <legend>Define <code>stem</code></legend>

                <md-input-container class="md-block">
                    <label>Statement</label>
                    <textarea ng-model="vm.problem.stem.statement" rows="5" md-select-on-focus></textarea>
                </md-input-container>
            </div>

            <div>
                <legend>Define <code>keys</code></legend>
                <md-input-container class="md-block">
                    <label>Answer</label>
                    <input ng-model="vm.problem.keys.answer">
                </md-input-container>


                <md-list class="margin-bottom-10">
                    <md-button class="md-raised" aria-label="raised button" ng-click="vm.add_choice()">Add Choice</md-button>
                    <md-list-item class="md-3-line" ng-repeat="choice in vm.problem.keys.choices track by $index">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label>Choice {{$index+1}}</label>
                            <input type="text" ng-model="choice">
                        </md-input-container>
                    </md-list-item>
                </md-list>

                <!--<legend>Define <code>validation</code></legend>-->
                <!--<md-input-container class="md-block">-->
                    <!--<label></label>-->
                    <!--2-->
                    <!--i-->
                    <!--<textarea rows="5" ng-model="vm.fraction.validation" md-select-on-focus>-->

                    <!--</textarea>-->
                    <!--&lt;!&ndash;<md-content flex layout-padding></md-content>&ndash;&gt;-->
                <!--</md-input-container>-->

            </div>

            <md-chips ng-model="vm.problem.info.editors">
                <md-chip-template>
                    <strong>{{$chip}}</strong>
                    <em></em>
                </md-chip-template>
            </md-chips>

            <!--<md-select>-->
                <!--<md-option ng-selected="u.selected" ng-repeat="type in vm.qtype_options" value="{{}}">-->
                    <!--<span>{{type[0]}}</span>-->
                <!--</md-option>-->
            <!--</md-select>-->


            <md-chips ng-model="vm.problem.tags">
                <md-chip-template>
                    <strong>{{$chip}}</strong>
                    <em></em>
                </md-chip-template>
            </md-chips>


            <div class="button-toolbar" layout="row" layout-align="end center">
                <md-button class="md-primary md-raised" ng-disabled="login.$invalid" ng-click="vm.submit_job()">Submit</md-button>
                <md-button>Cancel</md-button>
            </div>
        </tri-widget>
    </div>

    <div class="drag-container" layout="row" layout-xs="column" layout-margin dragula='"drag-analytics-container"'>
        <tri-widget flex title="{{'DASHBOARDS.DRAGGABLE.TITLE' | translate}}"
                    subtitle="{{'DASHBOARDS.DRAGGABLE.SUBTITLE4' | translate}}" title-position="top" palette-background="blue-grey:1000" background="primary">
            <md-content layout-padding palette-background="deep-orange:300" >
                <label>JSON Output</label>
                <json-formatter json="vm.problem" open="1"></json-formatter>
            </md-content>
        </tri-widget>
        <tri-widget flex>
            <table class="table">
                <thead>
                    <tr>
                        <!--<th ng-repeat="header in ::referrals.header | limitTo:3">{{::header}}</th>-->
                        <th>Name</th>
                        <th>Value</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody class="md-caption">
                    <tr ng-repeat="var in vm.problem.keys.variables | limitTo:5">
                        <!--<td ng-repeat="data in ::referral | limitTo:3">{{::data}}</td>-->
                        <td>{{var.name}}</td>
                        <td>{{var.value}}</td>
                        <td>{{var.type}}</td>
                    </tr>
                </tbody>
            </table>

        </tri-widget>

    </div>

    <div class="drag-container" layout="row" layout-xs="column" layout-margin dragula='"drag-analytics-container"'
         ng-repeat="chart in vm.problem.stem.charts">
        <tri-widget flex>
            <canvas class="chart-pie"
                    chart-data="chart.chart.data"
                    chart-labels="chart.chart.labels"
                    chart-legend="true"
                    chart-options="chart.chart.options"></canvas>
        </tri-widget>
    </div>
</div>
