<md-fab-speed-dial class="md-fab md-accent md-fab-bottom-right"
                   md-direction="{{vm.fabDirection}}"
                   md-open="vm.fabStatus"
                   ng-class="vm.fabAnimation">
    <md-fab-trigger>
        <md-button aria-label="share this post" class="md-fab md-primary">
            <md-icon md-font-icon="zmdi zmdi-widgets"></md-icon>
        </md-button>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button aria-label="Save" class="md-fab md-raised md-mini" ng-click="vm.save($event)">
            <md-icon md-font-icon="zmdi zmdi-save"></md-icon>
        </md-button>
        <!--<md-button aria-label="Files" class="md-fab md-raised md-mini" ng-click="vm.addFile($event)">-->
            <!--<md-icon md-font-icon="zmdi zmdi-file"></md-icon>-->
        <!--</md-button>-->
        <md-button aria-label="Variable" class="md-fab md-raised md-mini" ng-click="vm.addVariable($event)">
            <md-icon md-font-icon="zmdi zmdi-book"></md-icon>
        </md-button>
        <!--<md-button aria-label="Image" class="md-fab md-raised md-mini" ng-click="vm.addImage($event)">-->
            <!--<md-icon md-font-icon="zmdi zmdi-image-o"></md-icon>-->
        <!--</md-button>-->
        <md-button aria-label="Chart" class="md-fab md-raised md-mini" ng-click="vm.addPieChart($event)">
            <md-icon md-font-icon="zmdi zmdi-chart"></md-icon>
        </md-button>
        <!--<md-button aria-label="Submit" class="md-fab md-raised md-mini" ng-click="vm.submitJob($event)">-->
            <!--<md-icon md-font-icon="zmdi zmdi-check"></md-icon>-->
        <!--</md-button>-->
    </md-fab-actions>
</md-fab-speed-dial>
