<md-dialog aria-label="Add Variable" flex="30" flex-xs="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>EDITOR.DIALOG.VARIABLE.TITLE</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="md-dialog-content">
        <form name="taskForm" novalidate layout="column">
            <md-input-container>
                <label translate>EDITOR.DIALOG.VARIABLE.NAME</label>
                <input ng-model="vm.item.name" class="dialog-close" name="task" required/>
                <div ng-messages="taskForm.task.$error">
                    <div ng-message when="required">
                        <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                    </div>
                </div>
            </md-input-container>

            <md-input-container>
                <label translate>EDITOR.DIALOG.VARIABLE.TYPE</label>
                <md-select placeholder="{{'EDITOR.DIALOG.VARIABLE.TYPE' | translate}}" ng-model="vm.item.type">
                    <md-option value="whole" translate>EDITOR.DIALOG.VARIABLE.WHOLE_NUMBER</md-option>
                    <md-option value="real" translate>EDITOR.DIALOG.VARIABLE.REAL_NUMBER</md-option>
                    <md-option value="range" translate>EDITOR.DIALOG.VARIABLE.RANGE</md-option>
                    <md-option value="text" translate>EDITOR.DIALOG.VARIABLE.TEXT</md-option>
                </md-select>
            </md-input-container>

            <md-input-container>
                <label translate>EDITOR.DIALOG.VARIABLE.VALUE</label>
                <input ng-model="vm.item.value" class="dialog-close" name="task" required/>
                <div ng-messages="taskForm.task.$error">
                    <div ng-message when="required">
                        <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                    </div>
                </div>
            </md-input-container>

        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid">Ok</md-button>
    </md-dialog-actions>


</md-dialog>
