<md-dialog aria-label="Add Variable" flex="30" flex-xs="100">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>EDITOR.DIALOG.VARIABLE.TITLE</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <md-dialog-content class="md-dialog-content">
        <form name="taskForm" novalidate layout="column">
            <md-input-container>
                <label translate>EDITOR.DIALOG.VARIABLE.NAME</label>
                <input ng-model="vm.variables.name" class="dialog-close" name="task" required/>
                <div ng-messages="taskForm.task.$error">
                    <div ng-message when="required">
                        <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                    </div>
                </div>
            </md-input-container>

            <!--<md-input-container>-->
            <!--<label translate>EDITOR.DIALOG.VARIABLE.TYPE</label>-->
            <!--<md-select placeholder="{{'EDITOR.DIALOG.VARIABLE.TYPE' | translate}}" ng-model="vm.item.type">-->
            <!--<md-option value="whole" translate>EDITOR.DIALOG.VARIABLE.WHOLE_NUMBER</md-option>-->
            <!--<md-option value="real" translate>EDITOR.DIALOG.VARIABLE.REAL_NUMBER</md-option>-->
            <!--<md-option value="range" translate>EDITOR.DIALOG.VARIABLE.RANGE</md-option>-->
            <!--<md-option value="text" translate>EDITOR.DIALOG.VARIABLE.TEXT</md-option>-->
            <!--</md-select>-->
            <!--</md-input-container>-->

            <md-input-container class="md-block">
                <label>Variable Type</label>
                <md-select ng-model="vm.variables.selectedItem" ng-change="vm.selectChangeType()">
                    <md-option ng-repeat="v in vm.variables.options" ng-value="v.value">
                        {{v.text}}
                    </md-option>
                </md-select>
            </md-input-container>

            <div ng-if="vm.variables.selectedItem == 'whole'">
                <!-- WHOLE NUMBER -->
                <md-input-container>
                    <label translate>EDITOR.DIALOG.VARIABLE.VALUE</label>
                    <input ng-model="vm.variables.whole.values" class="dialog-close" name="whole" required/>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div ng-if="vm.variables.selectedItem == 'real'">
                <!-- REAL NUMBER -->
                <md-input-container>
                    <label translate>EDITOR.DIALOG.VARIABLE.VALUE</label>
                    <input ng-model="vm.variables.real.values" class="dialog-close" name="real" required/>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div ng-if="vm.variables.selectedItem == 'text'">
                <!-- TEXT -->
                <md-input-container>
                    <label translate>EDITOR.DIALOG.VARIABLE.VALUE</label>
                    <input ng-model="vm.variables.text.values" class="dialog-close" name="real" required/>
                    <div ng-messages="taskForm.task.$error">
                        <div ng-message when="required">
                            <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                        </div>
                    </div>
                </md-input-container>
            </div>

            <div ng-if="vm.variables.selectedItem == 'whole_list'">
                <!-- WHOLE LIST -->
                <md-list ng-if="vm.variables.whole_list.values">
                    <md-button class="md-raised" aria-label="raised button" ng-click="vm.add_wl_item()">Add Item</md-button>

                    <md-list-item class="md-3-line" ng-repeat="item in vm.variables.whole_list.values track by $index">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label translate>EDITOR.DIALOG.VARIABLE.VALUE</label>
                            <input ng-model="vm.variables.whole_list.values[$index]" class="dialog-close" required/>
                            <div ng-messages="taskForm.task.$error">
                                <div ng-message when="required">
                                    <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                                </div>
                            </div>
                        </md-input-container>
                    </md-list-item>
                </md-list>

            </div>

            <div ng-if="vm.variables.selectedItem == 'real_list'">
                <!-- REAL LIST -->
                <md-list ng-if="vm.variables.whole_list.values">
                    <md-button class="md-raised" aria-label="raised button" ng-click="vm.add_rl_item()">Add Item</md-button>

                    <md-list-item class="md-3-line" ng-repeat="item in vm.variables.whole_list.values track by $index">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label translate>EDITOR.DIALOG.VARIABLE.VALUE</label>
                            <input ng-model="vm.variables.real_list.values[$index]" class="dialog-close" required/>
                            <div ng-messages="taskForm.task.$error">
                                <div ng-message when="required">
                                    <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                                </div>
                            </div>
                        </md-input-container>
                    </md-list-item>
                </md-list>

            </div>

            <div ng-if="vm.variables.selectedItem == 'range'">
                <!-- WHOLE RANGE -->
                <md-list>
                    <md-button class="md-raised" aria-label="raised button" ng-click="vm.add_rl_item()">Add Item</md-button>

                    <md-list-item class="md-3-line">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label translate>Min</label>
                            <input ng-model="vm.variables.range.values[0]" class="dialog-close" required/>
                            <div ng-messages="taskForm.task.$error">
                                <div ng-message when="required">
                                    <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                                </div>
                            </div>
                        </md-input-container>
                    </md-list-item>

                    <md-list-item class="md-3-line">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label translate>Max</label>
                            <input ng-model="vm.variables.range.values[1]" class="dialog-close" required/>
                            <div ng-messages="taskForm.task.$error">
                                <div ng-message when="required">
                                    <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                                </div>
                            </div>
                        </md-input-container>
                    </md-list-item>

                    <md-list-item class="md-3-line">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label translate>Increment</label>
                            <input ng-model="vm.variables.range.values[2]" class="dialog-close" required/>
                            <div ng-messages="taskForm.task.$error">
                                <div ng-message when="required">
                                    <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                                </div>
                            </div>
                        </md-input-container>

                    </md-list-item>
                </md-list>
            </div>

            <div ng-if="vm.variables.selectedItem == 'xrange'">
                <!-- REAL RANGE -->
                <md-list>
                    <md-button class="md-raised" aria-label="raised button" ng-click="vm.add_rl_item()">Add Item</md-button>

                    <md-list-item class="md-3-line">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label translate>Min</label>
                            <input ng-model="vm.variables.xrange.values[0]" class="dialog-close" required/>
                            <div ng-messages="taskForm.task.$error">
                                <div ng-message when="required">
                                    <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                                </div>
                            </div>
                        </md-input-container>
                    </md-list-item>

                    <md-list-item class="md-3-line">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label translate>Max</label>
                            <input ng-model="vm.variables.xrange.values[1]" class="dialog-close" required/>
                            <div ng-messages="taskForm.task.$error">
                                <div ng-message when="required">
                                    <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                                </div>
                            </div>
                        </md-input-container>
                    </md-list-item>

                    <md-list-item class="md-3-line">
                        <md-input-container class="md-block" flex-gt-sm>
                            <label translate>Increment</label>
                            <input ng-model="vm.variables.xrange.values[2]" class="dialog-close" required/>
                            <div ng-messages="taskForm.task.$error">
                                <div ng-message when="required">
                                    <span translate>MENU.TODO.DIALOG.TASKFORM.PLEASE_ENTER</span>
                                </div>
                            </div>
                        </md-input-container>

                    </md-list-item>
                </md-list>
            </div>
        </form>
    </md-dialog-content>

    <md-divider></md-divider>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.hide()" class="md-primary" ng-disabled="taskForm.$invalid">Ok</md-button>
    </md-dialog-actions>


</md-dialog>
