<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <div layout="row" layout-xs="column" layout-margin>
        <tri-widget content-padding flex title="Test" subtitle="Info">
            <md-input-container class="md-block" md-theme="{{triSkin.elements.content}}">
                <label>Problem ID</label>
                <input type='text' ng-model="vm.test.id" readonly>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Problem Name</label>
                <input type='text' ng-model="vm.test.name">
            </md-input-container>
        </tri-widget>
    </div>

    <div layout="row" layout-xs="column" layout-margin>
        <tri-widget content-padding title="Search for Problems">
            <md-toolbar class="md-hue-1">
                <div class="md-toolbar-tools">
                    <md-input-container md-theme="input" flex>
                        <!--<labe>$nbsp;</labe>-->
                        <input ng-model="" placeholder="enter search">
                    </md-input-container>

                    <md-button aria-label="Search"><md-icon icon="search"></md-icon></md-button>
                </div>
            </md-toolbar>
        </tri-widget>
    </div>


    <div layout="column" layout-xs="column" layout-margin ng-repeat="item in vm.problemInfo track by $index">
        <ost-problem title="Problem {{$index + 1}}"
                     item="item"
                     layout-gt-md="100" layout-xs="100"></ost-problem>
    </div>
</div>
