<div class="dashboard-container overlay-10 padded-content-page" layout="column">
    <div layout="row" layout-xs="column" layout-margin>
        <tri-widget content-padding>
            <md-toolbar class="md-hue-1">
                <div class="md-toolbar-tools">
                    <md-input-container md-theme="input" flex>
                        <!--<labe>$nbsp;</labe>-->
                        <input ng-model="" placeholder="enter search">
                    </md-input-container>

                    <md-button aria-label="Search"><md-icon icon="search"></md-icon></md-button>
                </div>
            </md-toolbar>

            <md-content>
                <md-list flex>
                    <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>

                    <md-list-item class="md-3-line" ng-repeat="item in [1, 2, 3, 4]" ng-click="null">
                        <!--<md-whiteframe class="md-whiteframe-z1 margin-20 text-center">-->
                        <md-whiteframe class="md-whiteframe-z1">
                            <h3>.md-whiteframe-z1</h3>
                        </md-whiteframe>
                    </md-list-item>

                </md-list>
            </md-content>
        </tri-widget>
    </div>
</div>
