<tri-widget flex
            title="{{vm.title}}"
            subtitle="{{::vm.subtitle}}"
            content-padding>
    <div>
        <p>
            {{::vm.item.stem}}
        </p>

        <div ng-if="vm.item.qtype == vm.FILL_IN_THE_BLANK">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Answer</label>
                <input ng-model="vm.item.answer">
            </md-input-container>
        </div>

        <div ng-if="vm.item.qtype == vm.TRUE_OF_FALSE">
            <md-radio-group ng-model="vm.item.answer">
                <md-radio-button value="true">True</md-radio-button>
                <md-radio-button value="false">False</md-radio-button>
            </md-radio-group>
        </div>

        <div ng-if="vm.item.qtype == vm.MULTIPLE_CHOICE">
            <md-radio-group ng-model="vm.item.answer" ng-repeat="choice in vm.item.choices track by $index">
                <md-radio-button value="{{$index}}">{{choice}}</md-radio-button>
            </md-radio-group>
        </div>

    </div>
</tri-widget>