<md-dialog aria-label="Add Test" flex="80" flex-lg="80">
    <md-toolbar md-theme="{{triSkin.elements.content}}">
        <div class="md-toolbar-tools">
            <h2>
                <span translate>Add New Test</span>
            </h2>
        </div>
    </md-toolbar>

    <md-divider></md-divider>

    <div layout="column" layout-xs="column" layout-margin="">
        <md-input-container class="md-block">
            <label>Test Name</label>
            <input type="text" ng-model="vm.test.name">
        </md-input-container>
    </div>


    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="vm.cancel()">Cancel</md-button>
        <md-button ng-click="vm.createNewTest()" class="md-primary" ng-disabled="taskForm.$invalid">Create Test</md-button>
    </md-dialog-actions>

</md-dialog>