<md-chips ng-model="vm.editorItems"
          md-autocomplete-snap
          md-transform-chip="vm.transformChip($chip)"
          md-require-match="vm.autocompleteRequireMatch">
  <md-autocomplete
      md-selected-item="vm.editorSelectedItem"
      md-search-text="vm.editorSearchText"
      md-items="item in vm.querySearchEditor(vm.editorSearchText)"
      md-item-text="item.pen_name"
      placeholder="Search for editors">
    <span md-highlight-text="vm.editorSearchText">{{item.pen_name}}</span>
  </md-autocomplete>
  <md-chip-template>
    <span>
        <strong>{{$chip.pen_name}}</strong>
    </span>
  </md-chip-template>
</md-chips>
